<?xml version="1.0"?>
<config>
    <modules>
        <Uipl_Stockalert>
            <version>0.0.1</version>
        </Uipl_Stockalert>
    </modules>
    <global>
	<helpers>
      <stockalert>
        <class>Uipl_Stockalert_Helper</class>
      </stockalert>
    </helpers>
	
        <models>
	  <stockalert>
		<class>Uipl_Stockalert_Model</class>
		<resourceModel>stockalert_mysql4</resourceModel>
	  </stockalert>
	</models>
        <events>
            <sales_order_place_before>
                <observers>
                    <uipl_stockalert_model_observer>
                        <type>singleton</type>
                        <class>Uipl_Stockalert_Model_Observer</class>
                        <method>getalert</method>
                    </uipl_stockalert_model_observer>
                </observers>
            </sales_order_place_before> 
        </events>
        
        <template>
		<email>
			<outofstock_email_template module="stockalert">
				<label>Out of stock email module</label>
				<file>admin_stock_alert.html</file>
				<type>html</type>
			</outofstock_email_template>
		</email>
	</template>
    </global>
    
    
       <crontab>
        <jobs>            
            <stockalert_sendalert>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>stockalert/cron::SendAlert</model></run>
            </stockalert_sendalert>
        </jobs>
    </crontab>
       
  
       
</config>